body {
    background-image: url(About\ copy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 610px;
    margin: 0;
}

.h1 {
    text-align: center;
    color: white;
    font-size: 40px;

}

nav {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

nav span {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}





nav span:hover {
    color: black;
    text-decoration: underline;

}



div h2 {
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 170px;

}

.About {
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 140px;
}

.class1 {
    margin-top: 20px;
}

div h1 {
    margin-left: 60%;
    margin-top: 500px;
}

div p {
    margin-left: 60%;
    font-family: sans-serif;
    font-size: 20px;
}

.img1 {
    margin-top: -390px;
    margin-left: 2%;
}



#container1 {
    padding-top: 170px;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 3%;
}

#img2 {
    margin-top: -500px;
    float: right;
    margin-right: 3%;
}


.heading2 {

    margin-left: 39%;
    font-size: 45px;
}

.para1 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

#button1 {
    font-size: 19px;
    margin-top: 50px;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 45%;

}

#button1:hover {
    color: white;
    background-color: black;
}

.color {
    background-color: rgb(221, 218, 218);
    padding-top: 20px;
    margin-top: 200px;
    padding-bottom: 190px;
}

.s11 {
    font-size: 40px;
    margin-left: 30px;
    color: white;

}

.s12 {
    font-size: 25px;
    margin-left: 300px;
    color: white;


}

.s13 {
    font-size: 25px;
    margin-left: 150px;
    color: white;
}

.s14 {
    font-size: 25px;
    margin-left: 150px;
    color: white;
}

.s15 {
    font-size: 25px;
    margin-left: 150px;
    color: white;

}


#p1 {
    margin-left: 430px;
    color: white;
    text-decoration: underline;
}

#p2 {
    margin-left: 160px;
    color: white;
}

#p3 {

    margin-left: 120px;
    color: white;
}

#p4 {
    margin-left: 100px;
    color: white;
}

.article1 {
    margin-top: -30px;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 220px;

}

#p22 {
    color: white;
    margin-left: 430px;
    text-decoration: underline;

}

#p23 {
    color: white;
    margin-left: 130px;

}


#p24 {
    color: white;
    margin-left: 110px;

}


#p25 {
    color: white;
    margin-left: 120px;

}

.herf1 {
    color: white;
    text-decoration: none;
}

.herf1::before {
    text-decoration: none;
}